@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600,700&display=swap');

*{
	margin: 0;
	padding: 0;
	list-style: none;
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;
}

body{
	background: #9ecae0;
}

.top{
	width: 250px;
	height: 65px;
	margin: 35px auto 0;
	background: #ffd300;
	text-align: center;
	padding: 10px 0;
	position: relative;
	border-radius: 5px;
}

.by{
	padding-top: 2px;
}

.wrapper{
	width: 100%;
	height: 100%;
}

.gameSection{
	width: 500px;
	height: 325px;
	margin: 35px auto 0;
	background: #f94f62;
	padding: 25px 40px;
	position: relative;
	border-radius: 5px;
}

.gameSection .gameTabs ul{
	display: flex;
}

.gameSection .gameTabs ul li{
	margin-right: 50px;
	font-size: 18px;
	font-weight: 600;
	color: #3a3d51;
	cursor: pointer;
}

.gameSection .gameTabs ul li:hover,
.gameSection .gameTabs ul li.active{
	color: #fff;
}

.gameWrap{
	position: absolute;
	top: 70px;
	left: 40px;
	background: #ffd300;
	width: 100%;
	height: 100%;
	border-radius: 5px;
}

.gameWrap .gameItem{
	padding-top: 25px;
	padding-left: 25px;
	padding-right: 25px;
	padding-bottom: 25px;
}

.gameWrap .lboardMem{
	display: flex;
	align-items: center;
	padding: 15px 0;
	border-bottom: 1px solid #ffe773;
}

.gameWrap .lboardMem:first-child{
	padding-top: 0;
}

.gameWrap .lboardMem:last-child{
	padding-bottom: 0;
	border-bottom: 0;
}

.gameWrap .lboardMem .nameBar{
	margin: 0 25px;
	width: calc(100% - 150px);
}

.gameWrap .lboardMem .nameBar p{
	color: #3a3d51;
}

.gameWrap .lboardMem .nameBar p span{
	margin-right: 5px;
}

.gameWrap .lboardMem .digits{
	width: 125px;
	color: #3a3d51;
}

.gameWrap .lboardMem .nameBar .barWrap{
	width: 100%;
	height: 5px;
	background: #d5b000;
	margin-top: 5px;
	border-radius: 5px;
	position: relative;
	overflow: hidden;
}

.gameWrap .lboardMem .nameBar .barWrap .innerBar{
	position: absolute;
	top: 0;
	left: 0;
	height: 5px;
	background: #fff;
	border-radius: 5px;
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
}

.gameWrap .nameMem{
	display: flex;
	align-items: center;
	text-align: center;
	padding: 125px 0;
	border-bottom: 1px solid #ffe773;
}

.gameWrap .gameMem{
	display: inline;
}

.gameWrap .accGame{
	align-items: center;
	text-align: center;
	padding: 10px;
}

.gameWrap .score{
	align-items: center;
	text-align: center;
}

.gameWrap .guessAmt{
	align-items: center;
	text-align: center;
}

.gameWrap .message{
	margin: 50px;
	-webkit-text-stroke-width: 2px;
	-webkit-text-stroke: #9ecae0;
	text-align: center;
}